*.DS_Store
*.log
*.zip

.idea
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
ad.js
TODO
test.html
.env
